### Import Required Libraries and Set Up Environment Variables

In [114]:
# Dependencies
import pandas as pd
from datetime import datetime

### Merge both datatsets

In [115]:
ctg_csv = pd.read_csv("../data/cme_to_gst_events.csv")
gtc_csv = pd.read_csv("../data/gst_to_cme_events.csv")
ctg_df = pd.DataFrame(ctg_csv)
gtc_df = pd.DataFrame(gtc_csv)

In [116]:
ctg_df.sample(n=5)

,cmeID,startTime_CME,CME_ActivityID
54,2023-12-14T17:38:00-CME-001,2023-12-14 17:38:00+00:00,"['2023-12-14T16:47:00-FLR-001', '2023-12-15T10..."
0,2013-06-02T20:24:00-CME-001,2013-06-02 20:24:00+00:00,['2013-06-07T03:00:00-GST-001']
56,2024-03-23T01:25:00-CME-001,2024-03-23 01:25:00+00:00,"['2024-03-23T00:58:00-FLR-001', '2024-03-23T05..."
15,2015-09-04T19:24:00-CME-001,2015-09-04 19:24:00+00:00,['2015-09-09T03:00:00-GST-001']
42,2023-02-24T20:36:00-CME-001,2023-02-24 20:36:00+00:00,"['2023-02-24T20:03:00-FLR-001', '2023-02-24T21..."

In [117]:
gtc_df.sample(n=5)

,gstID,startTime_GST,GST_ActivityID
21,2016-04-02T22:30:00-GST-001,2016-04-02 22:30:00+00:00,['2016-03-31T01:25:00-CME-001']
24,2017-09-07T21:00:00-GST-001,2017-09-07 21:00:00+00:00,"['2017-09-06T12:24:00-CME-001', '2017-09-07T22..."
38,2023-04-23T18:00:00-GST-001,2023-04-23 18:00:00+00:00,"['2023-04-21T18:12:00-CME-001', '2023-04-23T17..."
42,2023-11-25T18:00:00-GST-001,2023-11-25 18:00:00+00:00,"['2023-11-22T21:36:00-CME-001', '2023-11-24T18..."
30,2022-01-19T00:00:00-GST-001,2022-01-19 00:00:00+00:00,"['2022-01-15T16:12:00-CME-001', '2022-01-16T20..."

In [118]:
# Now merge both datasets using 'gstID' and 'CME_ActivityID' for gst and 'GST_ActivityID' and 'cmeID' for cme. Use the 'left_on' and 'right_on' specifiers.

# gstID & CME_ActivityID: gst
# cmeID & GST_ActivityID: cme

# ctg_df_xpl = ctg_df.explode("CME_ActivityID")
# gtc_df_xpl = gtc_df.explode("GST_ActivityID")

ctg_df["cme"] = ctg_df["cmeID"] + "-" + ctg_df["CME_ActivityID"]
gtc_df["gst"] = gtc_df["gstID"] + "-" + gtc_df["GST_ActivityID"]

In [119]:
# Verify that the new DataFrame has the same number of rows as cme and gst
gtc_df.info()
gtc_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           48 non-null     object
 1   startTime_GST   48 non-null     object
 2   GST_ActivityID  48 non-null     object
 3   gst             48 non-null     object
dtypes: object(4)
memory usage: 1.6+ KB

gstID             0
startTime_GST     0
GST_ActivityID    0
gst               0
dtype: int64

In [120]:
ctg_df.info()
ctg_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cmeID           59 non-null     object
 1   startTime_CME   59 non-null     object
 2   CME_ActivityID  59 non-null     object
 3   cme             59 non-null     object
dtypes: object(4)
memory usage: 2.0+ KB

cmeID             0
startTime_CME     0
CME_ActivityID    0
cme               0
dtype: int64

In [121]:
merge_result = pd.merge(
    gtc_df,
    ctg_df,
    left_on="gst",
    right_on="cme",
    how="outer",
)
merge_result = merge_result.fillna(method="ffill")

/var/folders/xb/d85yy9110sqclp4qr8br64_w0000gn/T/ipykernel_1730/2850335178.py:8: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  merge_result = merge_result.fillna(method="ffill")

In [122]:
merge_result.sample(n=5)

,gstID,startTime_GST,GST_ActivityID,gst,cmeID,startTime_CME,CME_ActivityID,cme
46,2016-04-02T22:30:00-GST-001,2016-04-02 22:30:00+00:00,['2016-03-31T01:25:00-CME-001'],2016-04-02T22:30:00-GST-001-['2016-03-31T01:25...,2016-03-31T01:25:00-CME-001,2016-03-31 01:25:00+00:00,"['2016-04-02T14:04:00-IPS-001', '2016-04-02T22...",2016-03-31T01:25:00-CME-001-['2016-04-02T14:04...
18,2014-09-12T15:00:00-GST-001,2014-09-12 15:00:00+00:00,"['2014-09-10T18:18:00-CME-001', '2014-09-12T15...",2014-09-12T15:00:00-GST-001-['2014-09-10T18:18...,2015-03-15T02:00:00-CME-001,2015-03-15 02:00:00+00:00,"['2015-03-15T01:15:00-FLR-001', '2015-03-16T07...",2015-03-15T02:00:00-CME-001-['2015-03-15T01:15...
10,2014-02-20T03:00:00-GST-001,2014-02-20 03:00:00+00:00,"['2014-02-18T01:25:00-CME-001', '2014-02-20T02...",2014-02-20T03:00:00-GST-001-['2014-02-18T01:25...,2014-02-25T01:25:00-CME-001,2014-02-25 01:25:00+00:00,"['2014-02-25T00:41:00-FLR-001', '2014-02-25T06...",2014-02-25T01:25:00-CME-001-['2014-02-25T00:41...
41,2015-12-20T03:00:00-GST-001,2015-12-20 03:00:00+00:00,"['2015-12-16T09:36:00-CME-001', '2015-12-16T14...",2015-12-20T03:00:00-GST-001-['2015-12-16T09:36...,2015-12-28T12:39:00-CME-001,2015-12-28 12:39:00+00:00,"['2015-12-28T11:20:00-FLR-001', '2015-12-31T00...",2015-12-28T12:39:00-CME-001-['2015-12-28T11:20...
17,2014-09-12T15:00:00-GST-001,2014-09-12 15:00:00+00:00,"['2014-09-10T18:18:00-CME-001', '2014-09-12T15...",2014-09-12T15:00:00-GST-001-['2014-09-10T18:18...,2014-09-10T18:18:00-CME-001,2014-09-10 18:18:00+00:00,"['2014-09-10T17:21:00-FLR-001', '2014-09-11T02...",2014-09-10T18:18:00-CME-001-['2014-09-10T17:21...

### Computing the time it takes for a CME to cause a GST

In [123]:
merge_result.dropna(how="any")
merge_result.sample(n=5)

,gstID,startTime_GST,GST_ActivityID,gst,cmeID,startTime_CME,CME_ActivityID,cme
16,2014-08-19T21:00:00-GST-001,2014-08-19 21:00:00+00:00,"['2014-08-15T21:12:00-CME-001', '2014-08-19T05...",2014-08-19T21:00:00-GST-001-['2014-08-15T21:12...,2014-09-10T18:18:00-CME-001,2014-09-10 18:18:00+00:00,"['2014-09-10T17:21:00-FLR-001', '2014-09-11T02...",2014-09-10T18:18:00-CME-001-['2014-09-10T17:21...
34,2015-09-20T06:00:00-GST-001,2015-09-20 06:00:00+00:00,"['2015-09-18T05:00:00-CME-001', '2015-09-20T05...",2015-09-20T06:00:00-GST-001-['2015-09-18T05:00...,2015-09-18T05:00:00-CME-001,2015-09-18 05:00:00+00:00,"['2015-09-20T05:33:00-IPS-001', '2015-09-20T06...",2015-09-18T05:00:00-CME-001-['2015-09-20T05:33...
60,2021-10-12T03:00:00-GST-001,2021-10-12 03:00:00+00:00,['2021-10-09T07:09:00-CME-001'],2021-10-12T03:00:00-GST-001-['2021-10-09T07:09...,2021-11-01T18:38:00-CME-001,2021-11-01 18:38:00+00:00,"['2021-11-01T17:28:00-FLR-001', '2021-11-03T19...",2021-11-01T18:38:00-CME-001-['2021-11-01T17:28...
43,2015-12-31T13:30:00-GST-001,2015-12-31 13:30:00+00:00,"['2015-12-28T12:39:00-CME-001', '2015-12-31T23...",2015-12-31T13:30:00-GST-001-['2015-12-28T12:39...,2016-01-15T00:00:00-CME-001,2016-01-15 00:00:00+00:00,"['2016-01-18T21:00:00-IPS-001', '2016-01-21T03...",2016-01-15T00:00:00-CME-001-['2016-01-18T21:00...
78,2022-08-17T18:00:00-GST-001,2022-08-17 18:00:00+00:00,"['2022-08-13T18:48:00-CME-001', '2022-08-14T12...",2022-08-17T18:00:00-GST-001-['2022-08-13T18:48...,2023-02-24T20:36:00-CME-001,2023-02-24 20:36:00+00:00,"['2023-02-24T20:03:00-FLR-001', '2023-02-24T21...",2023-02-24T20:36:00-CME-001-['2023-02-24T20:03...

In [124]:
# Compute the time diff between startTime_GST and startTime_CME by creating a new column called `timeDiff`.
merge_result.startTime_GST = pd.to_datetime(merge_result.startTime_GST)
merge_result.startTime_CME = pd.to_datetime(merge_result.startTime_CME)

In [132]:
merge_result["timeDiff"] = merge_result["startTime_CME"] - merge_result["startTime_GST"]

In [133]:
merge_result.sample(n=5)

,gstID,startTime_GST,GST_ActivityID,gst,cmeID,startTime_CME,CME_ActivityID,cme,timeDiff
57,2021-05-12T12:00:00-GST-001,2021-05-12 12:00:00+00:00,"['2021-05-09T11:23:00-CME-001', '2021-05-12T05...",2021-05-12T12:00:00-GST-001-['2021-05-09T11:23...,2021-05-09T11:23:00-CME-001,2021-05-09 11:23:00+00:00,"['2021-05-12T05:48:00-IPS-001', '2021-05-12T12...",2021-05-09T11:23:00-CME-001-['2021-05-12T05:48...,-4 days +23:23:00
12,2014-02-27T18:00:00-GST-001,2014-02-27 18:00:00+00:00,"['2014-02-25T01:25:00-CME-001', '2014-02-27T16...",2014-02-27T18:00:00-GST-001-['2014-02-25T01:25...,2014-06-04T13:25:00-CME-001,2014-06-04 13:25:00+00:00,"['2014-06-07T16:09:00-IPS-001', '2014-06-08T03...",2014-06-04T13:25:00-CME-001-['2014-06-07T16:09...,96 days 19:25:00
22,2015-06-22T18:00:00-GST-001,2015-06-22 18:00:00+00:00,"['2015-06-21T02:48:00-CME-001', '2015-06-22T17...",2015-06-22T18:00:00-GST-001-['2015-06-21T02:48...,2015-06-22T18:36:00-CME-001,2015-06-22 18:36:00+00:00,"['2015-06-22T17:39:00-FLR-001', '2015-06-24T12...",2015-06-22T18:36:00-CME-001-['2015-06-22T17:39...,0 days 00:36:00
46,2016-04-02T22:30:00-GST-001,2016-04-02 22:30:00+00:00,['2016-03-31T01:25:00-CME-001'],2016-04-02T22:30:00-GST-001-['2016-03-31T01:25...,2016-03-31T01:25:00-CME-001,2016-03-31 01:25:00+00:00,"['2016-04-02T14:04:00-IPS-001', '2016-04-02T22...",2016-03-31T01:25:00-CME-001-['2016-04-02T14:04...,-3 days +02:55:00
68,2022-02-03T06:00:00-GST-001,2022-02-03 06:00:00+00:00,"['2022-01-29T23:36:00-CME-001', '2022-02-01T21...",2022-02-03T06:00:00-GST-001-['2022-01-29T23:36...,2022-01-29T23:36:00-CME-001,2022-01-29 23:36:00+00:00,"['2022-01-29T22:45:00-FLR-001', '2022-02-01T21...",2022-01-29T23:36:00-CME-001-['2022-01-29T22:45...,-5 days +17:36:00

In [134]:
# Use describe() to compute the mean and median time
# that it takes for a CME to cause a GST.
merge_result.describe()

                          timeDiff
count                          106
mean    40 days 11:54:43.018867924
std    109 days 18:54:20.361707804
min              -7 days +21:00:00
25%              -3 days +11:30:00
50%                5 days 22:42:30
75%               43 days 16:15:00
max              987 days 11:23:00

### Exporting data in csv format

In [135]:
# Export data to CSV without the index
merge_result.to_csv("../data/gst_cme_merged.csv", index=False)